body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: hsl(180, 91%, 68%);
}
#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}
#mainimage {
    margin-top: 20px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
}
button {
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    background-color: hsl(0, 0%, 70%);
}
button:hover {
    background-color: hsl(0, 0%, 50%);
}