body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background: white;
    color: black;
  }

  #dark{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    right: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #course {
    max-width: 600px;
    margin: auto;
  }
  
  div {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  

  div div:first-child {
    font-weight: bold;
  }
  
  div div:last-child {
    margin-top: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  